---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Gabriel Henrique's Website">
	<main>
        <p>Yes, this website is under construction.</p>
	</main>
</Layout>
 
<style>
</style>
