---
import Layout from '../../layouts/Layout.astro';

// Elementos
import Tag from '../../components/Tag.astro';


---

<Layout title="Gabriel Henrique's Website">
	<main>
		<div class="container">
			<article></article>
			<section></section>
			<article></article>
		</div>
	</main>
</Layout>
 
<style lang="scss">
</style>
