---
---

<footer>
    <div class="container">
        <p>Footer</p>
    </div>
</footer>

<style lang="scss">
    footer {
        background: gray;
    }

    .container {
        margin: 0 auto;
        padding: 0 1.2rem;
        max-width: 1000px;
    }
</style>