---

---

<div class="project">
    <div class="project__container">
        <div class="info">
            <div class="label"></div>
                <span>Placeholder</span>
            </div>
            <div class="links">
                <p>Custom links</p>
                <slot />
            </div>
        </div>
        <div class="thumbnail">
            <span>Thumbnail</span>
        </div>
    </div>
</div>

<style lang=scss>
    .project {
        width: 240px;
        height: 200px;
        border-radius: 32px;

        color: white;
        background-color: black;
    }
</style>